.purple{
  color: rgb(36, 1, 36);
  background-color: rgb(241, 237, 245);
}
.pstart{
  padding-left: 10rem;
}
.pink{color: rgb(216, 90, 132);

}
.fontsmall{
  font-size: .7rem;
}
.smallest{
  font-size: .5rem;
}
.ques{
  font-size: .7rem
}
.ans{
  font-size: .6rem;
  color: rgb(134, 114, 114);
}

input::placeholder {
  font-size: 12px;
}
textarea::placeholder{
  font-size: 13px;
}
.btnpink{
  background-color: rgb(231, 115, 135) !important;
  color: white;
}
.bluecolor{
  color: rgb(16, 16, 99);
}