.fontsHekto{
    font-size: 34px ;
    font-family: Arial, Helvetica, sans-serif;
}

.hov{
    color:black;
    font-size: 16px;
}
.hov:hover{
    color:#FB2E86;
}

.bg_color{
    background-color:#FB2E86;
}