.bg_color{
    background-color: #7E33E0;
}

.fsize{
    font-size: 16px;
    color:white;
}
.btn_secondary {
    background-color: #7E33E0!important;
}

.btn_secondary:hover{
    background-color: #7E33E0 !important;
}